#help {
	display: none;
}

#minititle {
	display: inline;
}

#titlediv {
	overflow: auto;
	white-space: nowrap;
	/*max-height: 40px;*/
}

#title {
	float: left;
	margin: 0px;
}

#fbsharebtn {
	float: left;
	margin: 0px;
}

#canvas {
	margin: 0px;
	display: inline-block;
}

#jezzball_canvas {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: none;
}

body {
	margin: 0px;
	padding: 0px;
}

#minititle_help {
	background: #F2F2FF;
	margin-bottom: 20px;
}

#bottom_content {
	text-align: center;
	float: right;
	max-width: 300px;
}

.touch_help {
	display: none;
}

.small-text {
	font-size: 10px;
}

#fbloginbutton {
	position: absolute;
	left:400px;
	top:400px;
}

#fbconnect {
	background: rgba(59, 89, 182, .5);
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
	position: absolute;
	left: 150px;
	top: 100px;
	max-width: 300px;
	overflow: hidden;
	display: none;
}

#fbsharebtnconnect {
	margin: 10px auto;
	display: block;
}

#fbsharebtnconnectsuccess {
	margin: 10px auto;
	display: block;
	display: none;
}

#fbloginconnect {
	margin: 10px auto;
	display: block;
}

#continuegamebtn {
	display: block;
	margin: 10px auto;
}

* {	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}