#help {
	display: none;
}

#minititle {
	display: inline;
}

#canvas {
	margin: 0px;
}

#jezzball_canvas {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: none;
}

body {
	margin: 10px;
}

#minititle_help {
	background: #F2F2FF;
	margin-bottom: 20px;
}

#bottom_content {
	text-align: center;
	float: right;
	max-width: 300px;
}

.touch_help {
	display: none;
}

.small-text {
	font-size: 10px;
}

* {	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}